* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 2rem;
}

div.contenedor1 {
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

div.contenedor2 {
    padding: 10px;
    flex-grow: 1;
    color: blueviolet;
}

@media (max-width: 640px) {
    body {
        flex-direction: column-reverse;
    }

    div.contenedor1 {
        flex-direction: row;
        justify-content: space-evenly;
    }
}